@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply fade-in-1
}

.navbar-item {
    @apply px-6 lg:px-2 py-5 w-full md:w-[15%] truncate text-start lg:text-center cursor-pointer text-white lg:text-primary-dark font-medium text-lg hover:text-secondary-default ease-linear transition-all
}

.navbar-item-selected {
    @apply px-6 lg:px-2 py-5 w-full md:w-[15%] truncate text-start lg:text-center cursor-pointer text-white lg:text-secondary-default font-bold lg:font-medium text-lg
}

.fade-in-1 {
    animation: 1s fade-in cubic-bezier(0.25, 1, 0.5, 1) backwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}